---
whiskers:
  version: 2.0.0
---
{%- macro css_rgb(v) -%}
rgb({{ v.r }}, {{ v.g }}, {{ v.b }})
{%- endmacro -%}

{%- macro css_hsl(v) -%}
hsl({{ v.h | round }}, {{ v.s * 100 | round }}%, {{ v.l * 100 | round }}%)
{%- endmacro -%}

# {{ flavor.name }}

| Color | Hex | RGB | HSL |
|-------|-----|-----|-----|
{%- for _, color in flavor.colors %}
{{ color.name }} | #{{ color.hex }} | {{ self::css_rgb(v=color.rgb) }} | {{ self::css_hsl(v=color.hsl) }} |
{%- endfor %}

{% set orange = red | add(hue=30) -%}
{% set darkgreen = green | sub(lightness=20) -%}
red: #{{ red.hex }} / {{ self::css_hsl(v=red.hsl) }}
orangey: #{{ orange.hex }} / {{ self::css_hsl(v=orange.hsl) }}
green: #{{ green.hex }} / {{ self::css_hsl(v=green.hsl) }}
dark green: #{{ darkgreen.hex }} // {{ self::css_hsl(v=darkgreen.hsl) }}