name: Build and populate cache

on:
  push:
    branches: [main]
    paths: ["**.nix", "**.js", "**.ts", "**.rs", "Cargo.lock", "package.json", "package-lock.json"]
  pull_request:
    paths: ["**.nix", "**.js", "**.ts", "**.rs", "Cargo.lock", "package.json", "package-lock.json"]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: cachix/install-nix-action@v23
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup cachix
        uses: cachix/cachix-action@v12
        with:
          name: "catppuccin"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          skipPush: ${{ github.ref != 'refs/heads/main' }}

      - name: Flake check
        run: nix flake check

      - name: Build packages
        run: nix build -L .#catwalk .#contrast_test .#docpuccin .#inkcat .#puccinier .#whiskers
